@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

*, *:before, *:after {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    text-align: center;
}

tr:nth-child(even) {
    text-align: center;
}

tr:nth-child(odd) {
    text-align: center;
}

body {
    background: #105469;
    font-family: 'Open Sans', sans-serif;
    text-align: center;

}

table {
    background: #a4061a;
    border-radius: 0.25em;
    border-collapse: collapse;
    margin-right: auto;
    margin-left: auto;
}

th {
    border-bottom: 1px solid #364043;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: center;
}

td {
    border-bottom: 1px solid #364043;
    color: #fff;
    font-weight: 400;
    padding: 0.65em 1em;
    text-align: center;
}

tbody tr {
    transition: background 0.25s ease;
}

tbody tr:hover {
    background: #102691;
}

a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
}
